@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scrollbar hiding */
html, body { overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none; }
html::-webkit-scrollbar, body::-webkit-scrollbar { display: none; }
body { overflow-x: hidden !important; }
*::-webkit-scrollbar { display: none; }
* { scrollbar-width: none; -ms-overflow-style: none; }
